body{
    margin: 0px;
    background-color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar{
    background-color: #2874F0;
    padding: 10px;
}
.list-item{
    list-style-type: none;
    display:inline-block;
    text-transform: capitalize;
    margin-left: 40px;
}

.link{
        color: #fff;
        text-decoration: none;
        font-size: 16px;
}

.link:hover{
    color: black;
}

.link:visited{
    color: yellow;
}