body{
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, #000046, #1cb5e0);
     /* background-color: rgb(153, 150, 181); */
}



.title{
    background-color: black;
    color: #fff;
    padding: 65px;
    text-align: center;
}

.login-form{
    margin: auto;
    background-color: white;
    padding: 50px;
    width: 20%;
    height: 400px;
}

input[type="email"],input[type="password"]{
    padding: 8px;
    margin-top: 8px;
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #d3d3d3;
    outline: none;
}
.login-title{
    text-align: center;
}

.login-btn{
    border: none;
    outline: none;
    margin-top: 16px;
    background: linear-gradient(to right, #000046, #1cb5e0);
    /* background: linear-gradient(to right, #5877C9, #7859B8); */
    width: 320px;
    height: 40px;
    color: #fff;
}